# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/
.kotlin/

database.mv.db
database.trace.db
db/
.DS_Store

node_modules
# TODO: figure out proper monorepo setup, installing / fixes intellij not recognizing the project for now
/bun.lock
